.user-avatar-container
    span.avatar
        img(src=req.user.avatarUrl)
.username-container
    h5 #{req.user.username}
.user-email-container
    span.user-email #{req.user.email}
.list-group.account-navigation
    a.list-group-item(href='/me', class=(accountNav == 'latestActivities' ? 'active' : null))
        i.fa.fa-clock-o(aria-hidden='true')
        |#{__('accountPage.sidebar.latestActivities')}
    a.list-group-item(href='/me/bookmarked', class=(accountNav == 'latestBookmarked' ? 'active' : null))
        i.fa.fa-heart(aria-hidden='true')
        |#{__('accountPage.sidebar.mixtapesBookmarked')}
    if req.user.isUploader
        a.list-group-item(href='/me/my-mixtapes', class=(accountNav == 'latestUploaded' ? 'active' : null))
            i.fa.fa-upload(aria-hidden='true')
            |#{__('accountPage.sidebar.mixtapesUploaded')}
    - var canUpload = sails.config.disableUploadRequest === false || req.user.isUploader === true
    a.list-group-item(href=(canUpload === false ? '#' : '/me/upload'), class=[(accountNav == 'upload' ? 'active' : null), (canUpload === false ? 'disabled' : null)], data-toggle=(canUpload === false ? 'tooltip' : null), title=(canUpload === false ? __('publicUploadDisabled') : null))
        i.fa.fa-cloud-upload(aria-hidden='true')
        |#{__('accountPage.sidebar.uploadMixtape')}
    if req.user.isAdmin
        a.list-group-item.admin-item(href='/me/unconfirmed-mixtapes', class=(accountNav === 'unconfirmedMixtapes' ? 'active' : null))
            i.fa.fa-clock-o(aria-hidden='true')
            |Mixtapes non confirmées
        a.list-group-item.admin-item(href='/me/all-mixtapes', class=(accountNav === 'allMixtapes' ? 'active' : null))
            i.fa.fa-floppy-o(aria-hidden='true')
            |Toutes les mixtapes
        a.list-group-item.admin-item(href='/me/all-artists', class=(accountNav === 'allArtists' ? 'active' : null))
            i.fa.fa-microphone(aria-hidden='true')
            | Tous les artistes
        a.list-group-item.admin-item(href='/me/all-beatmakers', class=(accountNav === 'allBeatmakers' ? 'active' : null))
            i.fa.fa-laptop(aria-hidden='true')
            | Tous les beatmakers
        a.list-group-item.admin-item(href='/me/all-music-groups', class=(accountNav === 'allMusicGroups' ? 'active' : null))
            i.fa.fa-users(aria-hidden='true')
            | Tous les groupes
    a.list-group-item(href='/me/settings', class=(accountNav == 'settings' ? 'active' : null))
        i.fa.fa-cogs(aria-hidden='true')
        |#{__('accountPage.sidebar.settings')}