.container-fluid.footer
    .col-xs-12.col-lg-10.col-lg-offset-2.no-padding
        .col-xs-2
            img.brand-logo(alt='Lokal Plug Logo', src='/images/site/footer-logo.png')
        .col-xs-12.col-sm-10.col-lg-7.text-right.no-padding
            ul.list-inline.legal-list
                li
                    a(href='/copyright-policy') Copyright
                li
                    a(href='/privacy-policy') Privacy
                li
                    a(href='/terms-of-use') Terms
                li
                    a(href='/contact') Contact
script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js', integrity='sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=', crossorigin='anonymous')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
script(src='https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/URI.js/1.18.12/URI.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-' + req.languages[req.getLocale()].localeCode + '.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/ajax-bootstrap-select/1.4.1/js/ajax-bootstrap-select.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js')
if req.getLocale() !== 'en'
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.' + req.getLocale() + '.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/3.1.2/jquery.bootstrap-touchspin.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-notify/0.2.0/js/bootstrap-notify.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.4/howler.min.js')
// DEPENDENCIES SCRIPTS
script(src="/min/prod-dependencies.min.js?v=0608")
// DEPENDENCIES SCRIPTS END
// SCRIPTS
script(src="/min/prod.min.js?v=0608")
// SCRIPTS END
if accountNav == 'upload'
    // UPLOAD WIZARD SCRIPTS
    script(src="/min/prod-upload-wizard.min.js?v=0608")
    // UPLOAD WIZARD SCRIPTS END
    script.
        $(window).bind("beforeunload", function () {
            return "You have some unsaved changes";
        });
        var artistPickerText = {
            "selected": "#{__('accountPage.uploadWizard.searchSelect.currentlySelected')}",
            "headers": {
                "artist": "#{__('accountPage.uploadWizard.searchSelect.headers.artist')}",
                "dj": "#{__('accountPage.uploadWizard.searchSelect.headers.dj')}",
                "beatmaker": "#{__('accountPage.uploadWizard.searchSelect.headers.beatmaker')}",
                "music-group": "#{__('accountPage.uploadWizard.searchSelect.headers.music-group')}"
            }
        };
    script(id='artistPickerTemplate' type='text/x-custom-template')
        .dropdown.artist-picker-dropdown
            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                span.placeholder.pull-left #{__('accountPage.uploadWizard.searchSelect.emptyTitle')}
                span.caret
            .dropdown-menu.open()
                .artist-missing
                    a
                        | #{__('accountPage.uploadWizard.artistMissing')}
                .search-box
                    input.form-control(type='text', autocomplete='off', aria-label='Search', placeholder=__('accountPage.uploadWizard.searchSelect.searchPlaceholder'))
                ul.dropdown-menu.inner()
                .status.status-initialized
                    i.fa.fa-info-circle(aria-hidden='true')
                    | #{__('accountPage.uploadWizard.searchSelect.statusInitialized')}
                .status.status-loading
                    i.fa.fa-clock-o(aria-hidden='true')
                    | #{__('accountPage.uploadWizard.searchSelect.statusSearching')}
                .status.status-error
                    i.fa.fa-exclamation(aria-hidden='true')
                    | #{__('accountPage.uploadWizard.searchSelect.statusError')}
if req.user && req.user.isAdmin === true
    // ADMIN SCRIPTS
    script(src="/min/prod-admin.min.js?v=0608")
    // ADMIN SCRIPTS END