doctype html
html(lang=req.getLocale(), xmlns:og='http://opengraphprotocol.org/schema/', xmlns:fb='http://www.facebook.com/2008/fbml')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        if _.isEmpty(mixtape)
            meta(name='description' content=__('metaDescription'))
            meta(property='og:description' content=__('metaDescription'))
            meta(property='og:image', content='https://lokalplug.com/images/site/og-image.png')
        else
            meta(name='description' content=__('metaMixtapeDescription') + mixtape.title + ' - ' + artists)
            meta(property='og:description' content=__('metaMixtapeDescription') + mixtape.title + ' - ' + artists)
            meta(property='og:image', content=mixtape.coverUrl)
            link(rel='image_src', href=mixtape.coverUrl)
        meta(property='og:site_name' content='Lokal Plug')
        meta(property='og:title' content=pageTitle)
        meta(property='og:url' content=req.url)
        title #{pageTitle}
        link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
        link(href='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css', rel='stylesheet')
        link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css', rel='stylesheet')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/ajax-bootstrap-select/1.4.1/css/ajax-bootstrap-select.min.css', rel='stylesheet')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css', rel='stylesheet')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/3.1.2/jquery.bootstrap-touchspin.min.css', rel='stylesheet')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css', rel='stylesheet')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css', rel='stylesheet')
        // STYLES
        link(href="/min/prod.min.css?v=0608", rel="stylesheet")
        // STYLES END
        script(src='https://www.google.com/recaptcha/api.js')
        script.
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-50155604-3', 'auto');
            ga('send', 'pageview');
    body
        .container-fluid.top-nav
            .col-lg-8.col-lg-offset-2
                ul.list-inline
                    if req.isAuthenticated()
                        li
                            a(href='/me')
                                i.fa.fa-user(aria-hidden='true')
                                | #{req.user.username}
                        li
                            a(href='/logout')
                                i.fa.fa-sign-out(aria-hidden='true')
                                | #{__('topNav.logout')}
                    else
                        li
                            a(href='/signup')
                                i.fa.fa-user-plus(aria-hidden='true')
                                |  #{__('topNav.signup')}
                        li
                            a(href='/login')
                                i.fa.fa-sign-in(aria-hidden='true')
                                |  #{__('topNav.login')}
                    li
                        .dropdown.languages-dropdown
                            a.dropdown-toggle(type='button', data-toggle='dropdown')
                                | #{__('topNav.language')}
                                span.caret
                            ul.dropdown-menu(role='menu', aria-labelledby='languagesDropdown')
                                each language in _.values(req.languages)
                                    li(role='presentation')
                                        a(class='language-link', role='menuitem', tabindex='-1', href='#', data-language=language.languageCode)
                                            | #{__('language.' + language.languageCode)}
                                            span.flag-icon(class='flag-icon-' + language.countryCode)
        .container-fluid.media-bar
            .col-sm-5.col-sm-offset-1.col-lg-4.col-lg-offset-2.text-center
                a(href='/')
                    if sails.config.betaVersion === true
                        img.brand-logo(alt='Lokal Plug', src='/images/site/beta-logo-text.png')
                    else
                        img.brand-logo(alt='Lokal Plug', src='/images/site/logo-text.png')
            .col-xs-12.col-sm-4.plug-player-container
                #plugPlayer.container-fluid
                    .disabled-container.overlay-container
                        h5
                            i.fa.fa-plug
                            | Plug Player
                        p
                            i.fa.fa-play
                            small #{__('plugPlayer.description')}
                    .loading-container.overlay-container
                        h5
                            i.fa.fa-refresh.fa-spin.fa-3x.fa-fw
                            p #{__('plugPlayer.loading')}
                    .col-xs-3.col-sm-2.left-container
                        a.mixtape-link(target='_blank')
                            img.mixtape-cover(alt='Cover')
                    .col-xs-9.col-sm-10.right-container
                        a.discover-mode-toggle.disabled
                            i.fa.fa-plug(aria-hidden='true')
                        p.song-info
                            a.mixtape-link(target='_blank')
                                span.track-title
                        p.song-info
                            a.mixtape-link(target='_blank')
                                span.mixtape-title
                        .col-xs-1.media-player-controls
                            a.play-button
                                i.fa.fa-play(aria-hidden='true')
                        .col-xs-1.media-player-controls(style='display: none;')
                            a.pause-button
                                i.fa.fa-pause(aria-hidden='true')
                        .col-xs-1.media-player-controls(style='display: none;')
                            a.loading-icon
                                i.fa.fa-refresh.fa-spin.fa-3x.fa-fw(aria-hidden='true')
                        .col-xs-6.media-player-controls
                            .progress
                                .progress-bar(role='progressbar', aria-valuemin='0', aria-valuemax='100')
                        .col-xs-3.media-player-controls.media-player-volume-container
                            .volume
                                input.volume-slider.volume(type='range')
                        .col-xs-1.media-player-controls
                            a.previous-button
                                i.fa.fa-step-backward(aria-hidden='true')
                        .col-xs-1.media-player-controls
                            a.next-button
                                i.fa.fa-step-forward(aria-hidden='true')
        .container-fluid.navbar-container
            .col-lg-8.col-lg-offset-2.col-xs-12
                nav.navbar.navbar-default
                    .container-fluid
                        .navbar-header
                            a.navbar-brand(href='/')
                                if sails.config.betaVersion === true
                                    img.brand-logo(alt='Lokal Plug', src='/images/site/beta-logo-text.png', height='100%')
                                else
                                    img.brand-logo(alt='Lokal Plug', src='/images/site/logo-text.png', height='100%')
                            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                                span.sr-only Toggle navigation
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                        #bs-example-navbar-collapse-1.collapse.navbar-collapse
                            ul.nav.navbar-nav
                                each link in sails.config.properties.navLinks
                                    li.collapse(class=(section === link.key ? 'active' : null)): a(href=link.href)= __('mainNav.' + link.label)
                            ul.nav.navbar-nav.navbar-right.visible-sm.visible-md.visible-lg
                                li
                                    a.search-button(href='/search')
                                        i.fa.fa-search(aria-hidden='true')
                                        | #{__('searchBar.title')}
                            .navbar-large-form-container.col-xs-6.col-xs-offset-3.visible-sm.visible-md.visible-lg
                                form.navbar-large-form(role='search', action='/search')
                                    .input-group.search-bar
                                        input.form-control(placeholder=__('searchBar.placeholder'), name='q', type='text')
                                        .input-group-btn
                                            button.btn.btn-default(type='submit')
                                                i.fa.fa-search(aria-hidden='true')
                            form.navbar-form.visible-xs(role='search', action='/search')
                                .input-group.search-bar
                                    input.form-control(placeholder=__('searchBar.placeholder'), name='q', type='text')
                                    .input-group-btn
                                        button.btn.btn-default(type='submit')
                                            i.fa.fa-search(aria-hidden='true')
        if sails.config.betaVersion === true && section === 'home'
            .container-fluid.beta-message-container
                .col-lg-8.col-lg-offset-2.beta-message
                    | !{__('betaVersionWarn')}