mixin mixtapeCard(mixtape)
    .thumbnail.list-card.mixtape-card
        .card-cover
            a(href='/mixtape/' + mixtape.slug)
                .card-cover-bg(style="background-image: url('" + mixtape.coverUrl + "');")
                img(alt='mixtape_cover', src=mixtape.coverUrl)
        .caption
            p.card-title
                a(href='/mixtape/' + mixtape.slug) #{mixtape.title}
            p.card-artist
                each artist in mixtape.artists
                    a(href='/artist/' + artist.slug)
                        span.avatar
                            img(src=artist.pictureUrl)
                            | #{artist.name}
                each musicGroup in mixtape.musicGroups
                    a(href='/music-group/' + musicGroup.slug)
                        span.avatar
                            img(src=musicGroup.pictureUrl)
                            | #{musicGroup.name}
                each beatmaker in mixtape.beatmakers
                    a(href='/beatmaker/' + beatmaker.slug)
                        span.avatar
                            img(src=beatmaker.pictureUrl)
                            | #{beatmaker.name}
            hr
            .mixtape-labels
                if mixtape.isOfficial === true
                    span.label.label-success #{__("label.official")}
                else
                    span.label.label-default #{__("label.nonOfficial")}
                each genre in mixtape.musicGenres
                    span.label(style='background-color: '+genre.color+';') #{genre.name}
            p(style='font-size:10px')
                i.fa.fa-clock-o(aria-hidden='true')
                |  #{moment(mixtape.releaseDate).fromNow()}
            p(style='font-size:10px')
                i.fa.fa-cloud-download(aria-hidden='true')
                |  #{mixtape.downloadCount} d/l
            p(style='font-size:10px')
                - var rate = mixtape.rate
                - var i = 0;
                while  i < 5
                    if rate - 1 >= 0
                        i.fa.fa-star(aria-hidden='true')
                    else if rate - 0.5 >= 0
                        i.fa.fa-star-half(aria-hidden='true')
                    else
                        i.fa.fa-star-o(aria-hidden='true')
                    - rate--;
                    - i++;