mixin musicGroupCard(musicGroup)
    .thumbnail.list-card.artist-card
        .card-cover
            a(href='/music-group/' + musicGroup.slug)
                .card-cover-bg(style="background-image: url('" + musicGroup.pictureUrl + "');")
                img(alt='music-group_picture', src=musicGroup.pictureUrl)
        .caption
            p.card-title
                a(href='/music-group/' + musicGroup.slug) #{musicGroup.name}
            hr
            .artist-labels
                span.label.label-info #{__("label.musicGroup")}
            p(style='font-size:10px')
                i.fa.fa-calendar(aria-hidden='true')
                |  #{__('artistList.caption.active')} #{moment(musicGroup.lastOfficialActivityAt).fromNow()}
            if musicGroup.officialMixtapesCount > 0
                p(style='font-size:10px')
                    i.fa.fa-floppy-o(aria-hidden='true')
                    |  #{musicGroup.officialMixtapesCount}&nbsp;
                    if musicGroup.officialMixtapesCount > 1
                        | #{__('artistList.caption.mixtapes')}
                    else
                        | #{__('artistList.caption.mixtape')}
            if musicGroup.officialTracksCount > 0
                p(style='font-size:10px')
                    i.fa.fa-music(aria-hidden='true')
                    |  #{musicGroup.officialTracksCount}&nbsp;
                    if musicGroup.officialTracksCount > 1
                        | #{__('artistList.caption.tracks')}
                    else
                        | #{__('artistList.caption.track')}