.col-sm-2.sidebar
    .row
        - var canUpload = sails.config.disableUploadRequest === false || (!_.isUndefined(req.user) && req.user.isUploader === true)
        a.btn.btn-default.wrap-whitespace.upload-now-button(href=(canUpload === false ? '#' : '/me/upload'), class=(canUpload === false ? 'disabled' : null), data-toggle=(canUpload === false ? 'tooltip' : null), title=(canUpload === false ? __('publicUploadDisabled') : null))
            i.fa.fa-cloud-upload(aria-hidden='true')
            |  #{__('sidebar.uploadButton')}
    .row
        .panel.panel-default
            .panel-heading
                h3.panel-title
                    i.fa.fa-cloud-download(aria-hidden='true')
                    |  #{__('sidebar.mostDownloaded')}
            .panel-body
                each mixtape in weekMostDownloadedMixtapes
                    .col-xs-10.col-xs-offset-1.mixtape-card-min
                        .mixtape-cover(style="background-image: url('" + mixtape.coverUrl + "');")
                            a(href='/mixtape/' + mixtape.slug)
                        .mixtape-card-caption
                            a(href='/mixtape/' + mixtape.slug) #{mixtape.title}