.row.setup-content(data-step=4, style='display:none;')
    .col-xs-12
        .col-md-12
            h3  #{__('accountPage.uploadWizard.steps.confirmation.title')}
            p #{__('accountPage.uploadWizard.steps.confirmation.advice')}
            h4 #{__('accountPage.uploadWizard.steps.confirmation.details')}
            table.table.table-bordered.details-summary
                    tr
                        th(scope='row') #{__('accountPage.uploadWizard.steps.confirmation.mixtapeTitle')}
                        td.mixtape-title
                    tr
                        th(scope='row') #{__('accountPage.uploadWizard.steps.confirmation.mixtapeCover')}
                        td.mixtape-cover
                    tr
                        th(scope='row') #{__('accountPage.uploadWizard.steps.confirmation.mixtapeAuthors')}
                        td.mixtape-authors
                    tr
                        th(scope='row') #{__('accountPage.uploadWizard.steps.confirmation.mixtapeGenres')}
                        td.mixtape-genres
                    tr
                        th(scope='row') #{__('accountPage.uploadWizard.steps.confirmation.mixtapeReleaseDate')}
                        td.mixtape-release-date
                    tr
                        th(scope='row') #{__('accountPage.uploadWizard.steps.confirmation.mixtapeOfficial')}
                        td.mixtape-is-official
            h4 #{__('accountPage.uploadWizard.steps.confirmation.tracks')}
            .table-responsive
                table.table.table-bordered.table-striped.tracks-summary
                    thead
                        tr
                            th #
                            th #{__('accountPage.uploadWizard.steps.confirmation.trackTitle')}
                            th #{__('accountPage.uploadWizard.steps.confirmation.trackArtist')}
                            th #{__('accountPage.uploadWizard.steps.confirmation.trackFeaturing')}
                            th #{__('accountPage.uploadWizard.steps.confirmation.trackBeatmakers')}
                    tbody

            .wizard-pagination
                button.btn.btn-primary.previous-button.pull-left(type='button') #{__('accountPage.uploadWizard.beforeButton')}
                button.btn.btn-success.pull-right(type='button', data-toggle='modal', data-target='#uploadTracksModal', data-backdrop='static', data-keyboard='false') #{__('accountPage.uploadWizard.steps.confirmation.submit')}