#createArtistModal.modal.fade(role='dialog')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal') ×
                h4.modal-title #{__('accountPage.uploadWizard.modals.createArtistModal.title')}
            .modal-body
                .alert.alert-success(style='display:none;')
                    | #{__('accountPage.uploadWizard.modals.createArtistModal.success')}
                .alert.alert-danger(style='display:none;')
                    | #{__('accountPage.uploadWizard.modals.createArtistModal.failed')}
                form#addArtistForm(role='form', data-toggle='validator')
                    .form-group
                        label.control-label #{__('accountPage.uploadWizard.modals.createArtistModal.nameField')}
                        input#artistName.form-control(name='name', type='text', placeholder=__('accountPage.uploadWizard.modals.createArtistModal.nameFieldPlaceholder'), data-remote='/artists/validate-name', required='')
                        .help-block.with-errors
                    .form-group
                        label.control-label #{__('accountPage.uploadWizard.modals.createArtistModal.typeField')}
                        select#artistType.form-control.selectpicker(title=__('accountPage.uploadWizard.modals.createArtistModal.typeFieldPlaceholder'), required='')
                            option(value='music-group') #{__('accountPage.uploadWizard.modals.createArtistModal.groupOption')}
                            option(value='artist') #{__('accountPage.uploadWizard.modals.createArtistModal.singerOption')}
                            option(value='dj') #{__('accountPage.uploadWizard.modals.createArtistModal.djOption')}
                            option(value='beatmaker') #{__('accountPage.uploadWizard.modals.createArtistModal.beatmakerOption')}
                    .form-group.music-groups-select-container(style='display:none;')
                        label.control-label #{__('accountPage.uploadWizard.modals.createArtistModal.groupsField')}
                        select#artistMusicGroups.form-control.artist-picker(data-url='/music-groups/all', multiple='', required='')
                    .form-group.all-artists-except-groups-select-container(style='display:none;')
                        label.control-label #{__('accountPage.uploadWizard.modals.createArtistModal.artistsField')}
                        select#musicGroupArtists.form-control.artist-picker(data-url='/artists/all-except-groups', multiple='', required='')
                    .form-group.text-right
                        button.btn.btn-default(type='submit') #{__('accountPage.uploadWizard.modals.createArtistModal.submit')}