#finalModal.modal.fade(role='dialog')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal') &times;
                h4.modal-title #{__('accountPage.uploadWizard.modals.finalModal.title')}
            .modal-body
                h5 #{__('accountPage.uploadWizard.modals.finalModal.uploaded')}
                .official-release-confirmation-info(style='display:none;')
                    br
                    | #{__('accountPage.uploadWizard.modals.finalModal.officialReleasePart1')}
                    br
                    br
                    | #{__('accountPage.uploadWizard.modals.finalModal.officialReleasePart2')}
                    br
                    | #{__('accountPage.uploadWizard.modals.finalModal.officialReleasePart3')}
                    b.mixtape-confirmation-code
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') #{__('accountPage.uploadWizard.modals.finalModal.close')}