.row.setup-content(data-step=3, style='display:none;')
    .col-xs-12
        .col-md-12
            h3  #{__('accountPage.uploadWizard.steps.tracks.title')}
            .panel.panel-default
                .panel-heading
                    | #{__('accountPage.uploadWizard.steps.tracks.addTrack')}
                .panel-body
                    form#addTrackForm(role='form')
                        .col-xs-12.col-md-3
                            .form-group
                                label.control-label #{__('accountPage.uploadWizard.steps.tracks.trackNumber')}
                                input#trackNumber.form-control(type='text', value='1', required='')
                        .col-xs-12.col-md-9
                            .form-group
                                label.control-label #{__('accountPage.uploadWizard.steps.tracks.titleField')}
                                input#trackTitle.form-control(name='title', type='text', placeholder=__('accountPage.uploadWizard.steps.tracks.titleFieldPlaceholder'), required='')
                        .form-group.artist-select-container
                            label.control-label #{__('accountPage.uploadWizard.steps.tracks.artistField')}
                            select#trackOwner.form-control.artist-picker(name='artist', data-url='/artists/all-except-beatmakers', required='')
                        .form-group.artist-select-container
                            label.control-label #{__('accountPage.uploadWizard.steps.tracks.featuringField')}
                            select#trackFeaturings.form-control.artist-picker(name='featuringArtists', data-url='/artists/all-except-beatmakers', multiple='')
                        .form-group.artist-select-container
                            label.control-label #{__('accountPage.uploadWizard.steps.tracks.beatmakersField')}
                            select#trackBeatmakers.form-control.artist-picker(name='beatmakers', data-url='/beatmakers/all', multiple='')
                        .form-group.text-right
                            button.btn.btn-default(type='submit') #{__('accountPage.uploadWizard.steps.tracks.submit')}
            .table-responsive
                table#mixtapeTracks.table.table-striped
                    thead
                        tr
                            th #
                            th #{__('accountPage.uploadWizard.steps.tracks.titleField')}
                            th #{__('accountPage.uploadWizard.steps.tracks.artistField')}
                            th #{__('accountPage.uploadWizard.steps.tracks.featuringField')}
                            th #{__('accountPage.uploadWizard.steps.tracks.beatmakersField')}
                    tbody
            .wizard-pagination
                button.btn.btn-primary.previous-button.pull-left(type='button') #{__('accountPage.uploadWizard.beforeButton')}
                button.btn.btn-primary.next-button.pull-right(type='button') #{__('accountPage.uploadWizard.nextButton')}