#uploadTracksModal.modal.fade(role='dialog')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                h4.modal-title #{__('accountPage.uploadWizard.modals.uploadTracksModal.title')}
            .modal-body
                .table-responsive
                    table#tracksToUpload.table.table-striped
                        thead
                            tr
                                th #
                                th #{__('accountPage.uploadWizard.modals.uploadTracksModal.trackTitle')}
                                th #{__('accountPage.uploadWizard.modals.uploadTracksModal.trackFile')}
                                th #{__('accountPage.uploadWizard.modals.uploadTracksModal.trackStatus')}
                        tbody
                .text-center
                    button#startUpload.btn.btn-default(type='button') #{__('accountPage.uploadWizard.modals.uploadTracksModal.submit')}