extends layouts/default

block content
    .container-fluid.main-container
        .col-lg-8.col-lg-offset-2.content
            .col-xs-12
                .content-container
                    .page-header.section-title
                        h1
                            span.fulltape.fulltape-icon
                            |  #{__('accountPage.title')}
                            small #{__('accountPage.titleDescription')}
                    .col-xs-12.col-md-3.account-column.account-sidebar-column
                        include layouts/accountSidebar
                    .col-xs-12.col-md-9.account-column.account-content-column
                        .container.content-container
                            .row
                                .page-header.section-title
                                    h3
                                        span.fulltape.fulltape-icon
                                        | Toutes les mixtapes
                            .row
                                .col-xs-6.text-left
                                    button#PreviousMixtapes.btn.btn-default(type='button') Précédent
                                .col-xs-6.text-right
                                    button#NextMixtapes.btn.btn-default(type='button') Suivant
                            .row
                                table#allMixtapes.table.table-striped
                                    thead
                                        tr
                                            th Pochette
                                            th(data-sort-key='title') Titre
                                            th Artistes
                                            th(data-sort-key='uploader') Uploader
                                            th(data-sort-key='createdAt') Date d'upload
                                            th(data-sort-key='isOfficial') Officielle
                                            th(data-sort-key='isConfirmed') Confirmée
                                            th(data-sort-key='isFileAvailable') Fichier
                                            th(width='100px') Actions