extends layouts/default

block content
    script.
        var artistMissing = "#{__('accountPage.uploadWizard.artistMissing')}";
        var currentLocale = '#{req.getLocale()}';
        var currentDate = '#{moment().format('L')}';
        var officialMixtapeInfoTitle = "#{__('accountPage.uploadWizard.steps.artists.isOfficialFieldInfoTitle')}";
        var officialMixtapeInfoMessage = "#{__('accountPage.uploadWizard.steps.artists.isOfficialFieldInfoMessage')}";
        var selectLocale = !{JSON.stringify(selectLocale)};
        var itsOfficial = '#{__('accountPage.uploadWizard.steps.confirmation.itsOfficial')}';
        var itsNotOfficial = '#{__('accountPage.uploadWizard.steps.confirmation.itsNotOfficial')}';
        var trackWaitingStatus = '#{__('accountPage.uploadWizard.modals.uploadTracksModal.waitingStatus')}';
        var trackUploadingStatus = '#{__('accountPage.uploadWizard.modals.uploadTracksModal.uploadingStatus')}';
        var trackSuccessStatus = '#{__('accountPage.uploadWizard.modals.uploadTracksModal.successStatus')}';

    .container-fluid.main-container
        .col-lg-8.col-lg-offset-2.content
            .col-xs-12
                .content-container
                    include layouts/uploadWizard/createArtistModal
                    include layouts/uploadWizard/uploadTracksModal
                    include layouts/uploadWizard/finalModal
                    .page-header.section-title
                        h1
                            span.fulltape.fulltape-icon
                            |  #{__('accountPage.title')}
                            small #{__('accountPage.titleDescription')}
                    .col-xs-12.col-md-3.account-column.account-sidebar-column
                        include layouts/accountSidebar
                    .col-xs-12.col-md-9.account-column.account-content-column
                        .loading-container(style='display:none;')
                            h3
                                i.fa.fa-refresh.fa-spin.fa-3x.fa-fw
                                p #{__('accountPage.uploadWizard.wait')}
                                span.sr-only #{__('accountPage.uploadWizard.wait')}
                        .container.content-container
                            .page-header.section-title.no-border
                                h3
                                    span.fulltape.fulltape-icon
                                    |  #{title}
                            .upload-wizard
                                .upload-wizard-row.setup-panel
                                    .upload-wizard-step
                                        a.btn.btn-primary.btn-circle(href='#', type='button', data-step=1) 1
                                        p #{__('accountPage.uploadWizard.steps.details.title')}
                                    .upload-wizard-step
                                        a.btn.btn-default.btn-circle(href='#', type='button', data-step=2) 2
                                        p #{__('accountPage.uploadWizard.steps.artists.title')}
                                    .upload-wizard-step
                                        a.btn.btn-default.btn-circle(href='#', type='button', data-step=3) 3
                                        p #{__('accountPage.uploadWizard.steps.tracks.title')}
                                    .upload-wizard-step
                                        a.btn.btn-default.btn-circle(href='#', type='button', data-step=4) 4
                                        p #{__('accountPage.uploadWizard.steps.confirmation.title')}
                            include layouts/uploadWizard/detailsStep
                            include layouts/uploadWizard/artistsStep
                            include layouts/uploadWizard/tracksStep
                            include layouts/uploadWizard/confirmationStep