extends layouts/default

block content
    script.
        var anErrorOccurredMsg = "#{__('accountPage.settings.anErrorOccurred')}";
        var anErrorOccurredPasswordMsg = "#{__('accountPage.settings.anErrorOccurredPassword')}";
        var anErrorOccurredAvatarMsg = "#{__('accountPage.settings.anErrorOccurredAvatar')}";
        var passwordUpdateSuccessMsg = "#{__('accountPage.settings.passwordUpdateSuccessMsg')}";
        var mailConfirmationSentMsg = "#{__('accountPage.settings.mailConfirmationSentMsg')}";
        var mailUpdateCancelledMsg = "#{__('accountPage.settings.mailUpdateCancelledMsg')}";
    .container-fluid.main-container
        .col-lg-8.col-lg-offset-2.content
            .col-xs-12
                .content-container
                    .page-header.section-title
                        h1
                            span.fulltape.fulltape-icon
                            |  #{__('accountPage.title')}
                            small #{__('accountPage.titleDescription')}
                    .col-xs-12.col-md-3.account-column.account-sidebar-column
                        include layouts/accountSidebar
                    .col-xs-12.col-md-9.account-column.account-content-column
                        .loading-container(style='display:none;')
                            h3
                                i.fa.fa-refresh.fa-spin.fa-3x.fa-fw
                                p #{__('accountPage.uploadWizard.wait')}
                                span.sr-only #{__('accountPage.uploadWizard.wait')}
                        .container.content-container
                            .row
                                .page-header.section-title
                                    h3
                                        span.fulltape.fulltape-icon
                                        |  #{__('accountPage.settings.title')}
                            if req.user.newEmail
                                #confirmEmailWarning.alert.alert-warning.col-xs-12.account-warning
                                    | #{__('accountPage.settings.emailConfirmation')}
                                    strong &nbsp;#{req.user.newEmail}
                                    br
                                    .col-xs-12
                                        .col-xs-5.col-xs-offset-1
                                            .text-right
                                                button.btn.btn-default.btn-sm#resendEmailConfirmation(type='button') #{__('accountPage.settings.resendEmailConfirmation')}
                                        .col-xs-5
                                            .text-left
                                                button.btn.btn-default.btn-sm#cancelEmailUpdate(type='button') #{__('accountPage.settings.cancelEmailConfirmation')}
                            .row
                                h4 #{__('accountPage.settings.avatar')}
                                .col-sm-10.col-sm-offset-1
                                    form#avatarSettingsForm.user-settings-form(role='form')
                                        .form-group.col-xs-12
                                            label.sr-only(for='avatar') #{__('accountPage.settings.avatar')}
                                            .container-fluid
                                                .col-xs-1
                                                    img.avatar(src=req.user.avatarUrl width='34px')
                                                .col-xs-11.col-lg-6
                                                    .input-group
                                                        .input-group-addon
                                                            i.fa.fa-picture-o(aria-hidden='true')
                                                        input#avatar.form-control(name='avatar', type='file', required)
                                                .col-xs-12.col-lg-4.text-center
                                                    .btn-group
                                                        button#uploadAvatar.btn.btn-default(type='submit') #{__('accountPage.settings.save')}
                                                        button#deleteAvatar.btn.btn-default(type='button') #{__('accountPage.settings.remove')}
                            .row
                                h4 #{__('accountPage.settings.basicInformation')}
                                .col-sm-10.col-sm-offset-1
                                    form#basicSettingsForm.user-settings-form(role='form', data-toggle='validator')
                                        .form-group
                                            label(for='username') #{__('accountPage.settings.username')}
                                            .input-group
                                                .input-group-addon
                                                    i.fa.fa-user(aria-hidden='true')
                                                input#username.form-control(name='username', type='text', placeholder=__('accountPage.settings.username'), maxlength="20", value=req.user.username, data-remote="/me/settings/basic-validate", required)
                                            .help-block.with-errors
                                        .form-group
                                            label(for='email') #{__('accountPage.settings.email')}
                                            .input-group
                                                .input-group-addon
                                                    i.fa.fa-envelope(aria-hidden='true')
                                                input#email.form-control(name='email', type='email', placeholder=__('accountPage.settings.email'), data-remote="/me/settings/basic-validate", value=req.user.email, required)
                                            .help-block.with-errors
                                        .form-group
                                            label(for='password') #{__('accountPage.settings.password')}
                                            .input-group
                                                .input-group-addon
                                                    i.fa.fa-key(aria-hidden='true')
                                                input#password.form-control(name='password', type='password', placeholder=__('accountPage.settings.yourPassword'), required)
                                            .help-block.with-errors
                                        .text-right
                                            button.btn.btn-default(type='submit') #{__('accountPage.settings.save')}
                            .row
                                h4 #{__('accountPage.settings.password')}
                                .col-sm-10.col-sm-offset-1
                                    form#passwordSettingsForm.user-settings-form(role='form' data-toggle='validator')
                                        .form-group
                                            label(for='newPassword') #{__('accountPage.settings.newPassword')}
                                            .input-group
                                                .input-group-addon
                                                    i.fa.fa-key(aria-hidden='true')
                                                input#newPassword.form-control(name='newPassword', type='password', placeholder=__('accountPage.settings.newPassword'), minlength=5, required)
                                            .help-block.with-errors
                                        .form-group
                                            label(for='newPasswordConfirmation') #{__('accountPage.settings.newPasswordConfirmation')}
                                            .input-group
                                                .input-group-addon
                                                    i.fa.fa-key(aria-hidden='true')
                                                input#newPasswordConfirmation.form-control(name='newPasswordConfirmation', type='password', placeholder=__('accountPage.settings.newPasswordConfirmation'), data-match="#newPassword", required)
                                            .help-block.with-errors
                                        .form-group
                                            label(for='currentPassword') #{__('accountPage.settings.actualPassword')}
                                            .input-group
                                                .input-group-addon
                                                    i.fa.fa-key(aria-hidden='true')
                                                input#currentPassword.form-control(name='currentPassword', type='password', placeholder=__('accountPage.settings.actualPassword'), required)
                                            .help-block.with-errors
                                        .text-right
                                            button.btn.btn-default(type='submit') #{__('accountPage.settings.save')}