extends layouts/default
include layouts/artistCard

block content
    .container-fluid.main-container
        .col-lg-8.col-lg-offset-2.content
            .col-xs-12.col-sm-10
                .container.content-container
                    .row
                        .page-header.section-title
                            h1
                                span.fulltape.fulltape-icon
                                |  #{__("artistsPage.title")}
                                small #{__("artistsPage.titleDescription")}
                    .row
                        .col-xs-12.col-md-5
                            each filterValues, field in filters.labels
                                .col-xs-12
                                    ul.list-inline.list-filters
                                        li
                                            span.label.filter.default-filter(data-filter=field, data-filter-value='', data-filter-currentValue=data.filters[field], class=(_.isEmpty(data.filters[field]) ? 'active' : null)) #{__("artistsPage.filters.allMixtapes")}
                                        each filterValue in filterValues
                                            li
                                                span.label.filter(data-filter=field, data-filter-value=filterValue.query, class=(data.filters[field] === filterValue.query ? 'active' : null)) #{__("artistsPage.filters."+filterValue.label)}
                    .row
                        .jumbotron
                            .row.card-list-container
                                each artist in data.results
                                    .col-sm-2.col-xs-4
                                        +artistCard(artist)
                            nav.text-center(aria-label='Page navigation')
                                ul.pagination
                                    li(class=(data.previous === false ? 'disabled' : null))
                                        a(aria-label='Previous', data-page=parseInt(data.currentPage)-1)
                                            span(aria-hidden='true') «
                                    - var i = 1
                                    while i < data.totalPages + 1
                                        li(class=(parseInt(data.currentPage) === i ? 'active' : null))
                                            a(data-page=i) #{i}
                                        - i++;
                                    li(class=(data.next === false ? 'disabled' : null))
                                        a(aria-label='Next', , data-page=data.totalPages)
                                            span(aria-hidden='true') »
            include layouts/sidebar