doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title Lokal Plug - The Caribbean Mixtape Supplier
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        link(rel='stylesheet', type='text/css', href='/styles/common.css')
        link(rel='stylesheet', type='text/css', href='/styles/coming-soon.css')
    body(data-spy='scroll', data-target='.navbar-fixed-top')
        nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
            .container
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
                        i.fa.fa-bars
                    |
                    a.navbar-brand(href='./')
                        img(src='/images/site/logo-text-white.png', alt='Lokal Plug')
                .collapse.navbar-collapse.navbar-right.navbar-main-collapse
                    ul.nav.navbar-nav
                        li
                            a.page-scroll(href='/login') Login
                        li
                            a.page-scroll(href='mailto:support@lokalplug.com') Contact
        .intro
            .intro-body
                .container
                    .row
                        .col-lg-12
                            img.brand-logo(src='/images/logo-white.png')
                    .row
                        .col-lg-12
                            p.brand-heading
                                span.slogan Le Fournisseur de Mixtapes Caribéennes
                                br
                                | arrive bientôt !
        script(src='/js/dependencies/jquery/jquery-3.1.1.js')
        script(src='/js/dependencies/bootstrap/bootstrap-3.3.5.min.js')
        script(src='/js/layout.js')
