extends layouts/default

block content
    .container-fluid.main-container
        .col-lg-8.col-lg-offset-2.content
            .col-xs-12
                .content-container
                    .page-header.section-title
                        h1
                            span.fulltape.fulltape-icon
                            |  #{__('confirmEmailPage.title')}
                    .row.text-center
                        if confirmationStatus === "success"
                            br
                            h5 #{__('confirmEmailPage.successMessage')}
                        else
                            br
                            h5 #{__('confirmEmailPage.failedMessage')} #{confirmationId}.