extends layouts/default

block content
    .container-fluid.main-container
        .col-lg-8.col-lg-offset-2.content
            .col-xs-12
                .content-container
                    .page-header.section-title
                        h1
                            span.fulltape.fulltape-icon
                            |  Copyright Policy
                    p
                        | LokalPlug does not permit copyright infringing activities and infringement of intellectual property rights on its Website, and will remove all Content if properly notified that such content infringes on another's intellectual property rights. LokalPlug reserves the right also to terminate a User's account, if they are determined to be a repeat infringer.
                    p
                        | If you are a copyright owner or an agent and have identified content on the Site which is not a work for which you are compensated through a music licensing agency, and which you believe is infringing your copyright(s), you may submit a notification pursuant to the Digital Millennium Copyright Act ("DMCA") by providing LokalPlug's copyright agent with the following information (see 17 U.S.C. 512(c)(3) for further details):
                    ul
                        li A physical or electronic signature of the person authorized to act on behalf of the owner of the copyright interest that is allegedly infringed;
                        li A description of all of the copyrighted works that you claim has been infringed upon;
                        li A description of where the material that you claim is infringing is located on the LokalPlug website, including, a URL of the specific location of the infringing material;
                        li Information sufficient to allow us to contact you including, at a minimum, your address, telephone number, and e-mail address;
                        li A statement by you that you have a good-faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and
                        li A statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner's behalf.
                    .text-center
                        h4
                            a(href='/contact') Send a copyright notification