extends layouts/default
include layouts/mixtapeCard

block content
    .container-fluid.main-container
        .col-lg-8.col-lg-offset-2.content
            .col-xs-12.col-sm-10
                .container.content-container
                    .row
                        .page-header.section-title
                            h1
                                span.fulltape.fulltape-icon
                                |  #{__('homepage.trendingTitle')}
                                small #{__('homepage.trendingDescription')}
                    .row
                        .jumbotron
                            .row.card-list-container
                                each mixtape in trendingMixtapes
                                    .col-sm-2.col-xs-4
                                        +mixtapeCard(mixtape)
                            if trendingMixtapes.length == 0
                                span.no-result #{__('mixtapeList.noMixtapes')}
                    .row
                        .page-header.section-title
                            h1
                                span.fulltape.fulltape-icon
                                |  #{__('homepage.latestOfficialTitle')}
                                small #{__('homepage.latestOfficialDescription')}
                    .row
                        .jumbotron
                            .row.card-list-container
                                each mixtape in latestOfficialMixtapes
                                    .col-sm-2.col-xs-4
                                        +mixtapeCard(mixtape)
                            if latestOfficialMixtapes.length == 0
                                span.no-result #{__('mixtapeList.noMixtapes')}
                    .row
                        .page-header.section-title
                            h1
                                span.fulltape.fulltape-icon
                                |  #{__('homepage.latestUploadsTitle')}
                                small #{__('homepage.latestUploadsDescription')}
                    .row
                        .jumbotron
                            .row.card-list-container
                                each mixtape in latestUploadedMixtapes
                                    .col-sm-2.col-xs-4
                                        +mixtapeCard(mixtape)
                            if latestUploadedMixtapes.length == 0
                                span.no-result #{__('mixtapeList.noMixtapes')}
            include layouts/sidebar
