extends layouts/default

block content
    .container-fluid.main-container
        .col-lg-8.col-lg-offset-2.content
            .col-xs-12
                .content-container
                    .page-header.section-title
                        h1
                            span.fulltape.fulltape-icon
                            |  Privacy Policy
                    p
                        | This Privacy Policy governs the manner in which Lokal Plug collects, uses, maintains and discloses information collected from users (each, a "User") of the https://lokalplug.com website ("Site").
                    h3 Personal identification information
                    p
                        | We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, register on the site, fill out a form, and in connection with other activities, services, features or resources we make available on our Site. Users may be asked for, as appropriate, name, email address. Users may, however, visit our Site anonymously. We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.
                    h3 Non-personal identification information
                    p
                        | We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service providers utilized and other similar information.
                    h3 Web browser cookies
                    p
                        | Our Site may use "cookies" to enhance User experience. User's web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Site may not function properly.
                    h3 How we use collected information
                    p
                        | Lokal Plug may collect and use Users personal information for the following purposes:
                    ul
                        li
                            i To run and operate our Site
                            br
                            |     We may need your information display content on the Site correctly.
                        li
                            i To improve customer service
                            br
                            |     Information you provide helps us respond to your customer service requests and support needs more efficiently.
                        li
                            i To personalize user experience
                            br
                            |     We may use information in the aggregate to understand how our Users as a group use the services and resources provided on our Site.
                        li
                            i To send periodic emails
                            br
                            |     We may use the email address to send User information and updates pertaining to their account and activity on the Site. It may also be used to respond to their inquiries, questions, and/or other requests.
                    h3 How we protect your information
                    p
                        | We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site.
                    h3 Sharing your personal information
                    p
                        | We do not sell, trade, or rent Users personal identification information to others. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates and advertisers for the purposes outlined above.
                    h3 Advertising
                    p
                        | Ads appearing on our site may be delivered to Users by advertising partners, who may set cookies. These cookies allow the ad server to recognize your computer each time they send you an online advertisement to compile non personal identification information about you or others who use your computer. This information allows ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you. This privacy policy does not cover the use of cookies by any advertisers. You may learn more about opting out of major ad networks at
                        a(href='https://websitebuilders.com/tools/advertiser-opt-out/') https://websitebuilders.com/tools/advertiser-opt-out/
                        | .
                    h3 Google Adsense
                    p
                        | Some of the ads may be served by Google. Google's use of the DART cookie enables it to serve ads to Users based on their visit to our Site and other sites on the Internet. DART uses "non personally identifiable information" and does NOT track personal information about you, such as your name, email address, physical address, etc. You may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy at
                        a(href='http://www.google.com/privacy_ads.html') http://www.google.com/privacy_ads.html
                    h3 Changes to this privacy policy
                    p
                        | Lokal Plug has the discretion to update this privacy policy at any time. When we do, we will post a notification on the main page of our Site. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.
                    h3 Your acceptance of these terms
                    p
                        | By using this Site, you signify your acceptance of this policy. If you do not agree to this policy, please do not use our Site. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes. This privacy policy was built
                        a(href='http://privacypolicies.com/', target='_blank') with the http://PrivacyPolicies.com generator
                        | .
                    h3 Contacting us
                    p
                        | If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us.
                    p This document was last updated on July 27, 2017
