extends layouts/default
include layouts/mixtapeCard
include layouts/artistCard
include layouts/beatmakerCard

block content
    .container-fluid.main-container
        .col-lg-8.col-lg-offset-2.content
            .col-xs-12.col-sm-10
                .container.content-container
                    .row
                        .page-header.section-title
                            h1
                                span.fulltape.fulltape-icon
                                |  #{__('searchPage.title')}
                                small #{__('searchPage.description')}
                    if _.isEmpty(query)
                        form#searchForm(role='search', action='/search')
                            .input-group.search-bar
                                input.form-control(placeholder=__('searchBar.placeholder'), name='q', type='text')
                                .input-group-btn
                                    button.btn.btn-default(type='submit')
                                        i.fa.fa-search(aria-hidden='true')
                    else
                        .row
                            h4 #{__('searchPage.resultsFor')} "#{query}"
                        if mixtapes.length > 0
                            .row
                                .page-header.section-title
                                    h3
                                        span.fulltape.fulltape-icon
                                        | #{__('searchPage.mixtapes')}
                            .row
                                .jumbotron
                                    .row.card-list-container
                                        each mixtape in mixtapes
                                            .col-sm-2.col-xs-4
                                                +mixtapeCard(mixtape)
                        if artists.length > 0
                            .row
                                .page-header.section-title
                                    h3
                                        span.fulltape.fulltape-icon
                                        | #{__('searchPage.artists')}
                            .row
                                .jumbotron
                                    .row.card-list-container
                                        each artist in artists
                                            .col-sm-2.col-xs-4
                                                +artistCard(artist)
                        if djs.length > 0
                            .row
                                .page-header.section-title
                                    h3
                                        span.fulltape.fulltape-icon
                                        | #{__('searchPage.djs')}
                            .row
                                .jumbotron
                                    .row.card-list-container
                                        each dj in djs
                                            .col-sm-2.col-xs-4
                                                +artistCard(dj)
                        if beatmakers.length > 0
                            .row
                                .page-header.section-title
                                    h3
                                        span.fulltape.fulltape-icon
                                        | #{__('searchPage.beatmakers')}
                            .row
                                .jumbotron
                                    .row.card-list-container
                                        each beatmaker in beatmakers
                                            .col-sm-2.col-xs-4
                                                +beatmakerCard(beatmaker)
                        if musicGroups.length > 0
                            .row
                                .page-header.section-title
                                    h3
                                        span.fulltape.fulltape-icon
                                        | #{__('searchPage.musicGroups')}
                            .row
                                .jumbotron
                                    .row.card-list-container
                                        each musicGroup in musicGroups
                                            .col-sm-2.col-xs-4
                                                .thumbnail.list-card.artist-card
                                                    .card-cover
                                                        a(href='/music-group/' + musicGroup.slug)
                                                            .card-cover-bg(style="background-image: url('" + musicGroup.pictureUrl + "');")
                                                            img(alt='artist_picture', src=musicGroup.pictureUrl)
                                                    .caption
                                                        p.card-title
                                                            a(href='/music-group/' + musicGroup.slug) #{musicGroup.name}
                                                        hr
            include layouts/sidebar
