extends layouts/default

block content
    .container-fluid.main-container
        .col-lg-8.col-lg-offset-2.content
            .col-xs-12
                .content-container
                    .page-header.section-title
                        h1
                            span.fulltape.fulltape-icon
                            |  #{__('signupPage.title')}
                            small #{__('signupPage.titleDescription')}
                    .col-sm-8.col-sm-offset-2.form-container.authentification-form-container
                        form(role='form' id='signup-form' data-toggle="validator")
                            .form-group
                                label.sr-only(for='username') #{__('signupPage.form.username')}
                                .input-group
                                    .input-group-addon
                                        i.fa.fa-user(aria-hidden='true')
                                    input#username.form-control(name='username', type='text', placeholder=__('signupPage.form.username'), maxlength="20", data-remote="/signup/validate", required)
                                .help-block.with-errors
                            .form-group
                                label.sr-only(for='email') #{__('signupPage.form.email')}
                                .input-group
                                    .input-group-addon
                                        i.fa.fa-envelope(aria-hidden='true')
                                    input#email.form-control(name='email', type='email', placeholder=__('signupPage.form.email'), data-remote="/signup/validate", required)
                                .help-block.with-errors
                            .form-group
                                label.sr-only(for='password') #{__('signupPage.form.password')}
                                .input-group
                                    .input-group-addon
                                        i.fa.fa-key(aria-hidden='true')
                                    input#password.form-control(name='password', type='password', placeholder=__('signupPage.form.password'), data-error=__('signupPage.form.passwordLengthError'), minlength=5, required)
                                .help-block.with-errors
                            .form-group
                                label.sr-only(for='passwordConfirmation') #{__('signupPage.form.passwordConfirmation')}
                                .input-group
                                    .input-group-addon
                                        i.fa.fa-key(aria-hidden='true')
                                    input#passwordConfirmation.form-control(name='passwordConfirmation', type='password', placeholder=__('signupPage.form.passwordConfirmation'), data-match="#password", data-error=__('signupPage.form.passwordMatchError'), required)
                                .help-block.with-errors
                            .form-group.text-center
                                p.caution
                                    | !{__('signupPage.form.agreedConfirmation')}
                                .col-xs-12
                                    .col-xs-12.col-md-4.col-md-offset-4
                                        button.btn.btn-default.g-recaptcha(type='submit', data-sitekey=sails.config.recaptchaSiteKey, data-callback='createUser')
                                            | #{__('signupPage.form.register')}
                                    .col-xs-12.col-md-4.text-right
                                        img(src='/images/site/recaptcha.png', alt='Protected by reCaptcha', width='75px', height='22px')
                        #signup-form-success.form-response
                            h5 #{__('signupPage.form.successMessage')}
                        #signup-form-failed.form-response
                            h5 #{__('signupPage.form.failedMessage')}