extends layouts/default

block content
    .container-fluid.main-container
        .col-lg-8.col-lg-offset-2.content
            .col-xs-12
                .content-container
                    .page-header.section-title
                        h1
                            span.fulltape.fulltape-icon
                            |  Terms of use
                    h3 End-User Agreement and Terms Of Use
                    p
                        | Thanks for using LokalPlug (“LokalPlug”, “we”, “us”, “our”). By using the LokalPlug service, websites, or software applications (together, the “LokalPlug Service” or “Service”), including by purchasing or receiving Codes or Limited Offers, you are entering into a binding contract with our local company in your country of residence (your “Local Country”) if applicable or the company listed in this chart. Your agreement with us includes these Terms and Conditions of Use (“Terms”) and our Privacy Policy (together with the Mobile Terms where applicable, the “Agreements”). If you don’t agree with these Terms, then please don’t use the Service.
                    h3 Changes to the Agreement
                    p
                        | Occasionally we may, in our discretion, make changes to the LokalPlug Service and Agreements. By continuing to use the Service after those changes are made, you are expressing and acknowledging your acceptance of the changes.
                    h3 License and assignment
                    p
                        | The LokalPlug software applications are licensed, not sold, to you, and LokalPlug retains ownership of all copies of the LokalPlug software applications even after installation on your Devices. LokalPlug may assign these Agreements or any part of them without restrictions. You may not assign these Agreements or any part of them, nor transfer or sub-licence your rights under this Licence, to any third party.
                    p
                        | All LokalPlug trademarks, service marks, trade names, logos, domain names, and any other features of the LokalPlug brand are the sole property of LokalPlug. This Licence does not grant you any rights to use the LokalPlug trademarks, service marks, trade names, logos, domain names, or any other features of the LokalPlug brand, whether for commercial or non-commercial use.
                    p
                        | You agree to abide by our User Guidelines and not to use the LokalPlug Service (including but not limited to its content) in any manner not expressly permitted by the Terms.
                    h3 User generated content
                    p
                        | LokalPlug users may post, upload and/or contribute (“post”) content to the Service, including text and playlist compilations (“User Content”). You are solely responsible for any User Content you provide and for any consequences thereof. You represent that you have the right to post any User Content which you post to the Service, and that such User Content, or its use by us as contemplated by this Agreement, does not: (a) violate these Agreements, applicable law, or the intellectual property or publicity rights of others; or (b) imply any affiliation, endorsement, approval or cooperation with you or your User Content by LokalPlug or any artist, band, label, entity or individual without express written consent from such individual or entity. You grant us a non-exclusive, transferable, sub-licensable, royalty-free, worldwide license to use any User Content that you post on or in connection with LokalPlug. This license lasts until you terminate your LokalPlug account, except in the case of User Content that you have published, made public and/or share with others. Aside from the rights specifically granted herein, you retain ownership of all rights, including intellectual property rights, in the User Content that you post to the LokalPlug Service, except that, where applicable under Local Country law, you agree to waive your right to be identified as the author of any User Content on the LokalPlug Service and your right to object to derogatory treatment of such User Content.
                    p
                        | LokalPlug does not monitor, review, or edit User Content, but reserves the right to remove or disable access to any User Content for any or no reason, including but not limited to, User Content that, in LokalPlug’s sole discretion, violates these Agreements. LokalPlug may take these actions without prior notification to you. Removal or disabling of access to User Content shall be at our sole discretion, and we do not promise to remove or disable access to any specific User Content.
                    p
                        | LokalPlug is not responsible for User Content nor does it endorse any opinion contained in User Content. If you believe that any User Content infringes your intellectual property rights, or if you believe that any User Content does not comply with the User Guidelines or that your rights under applicable law have been otherwise infringed by any User Content, please contact us at support@lokalplug.com.
                    h3 Consideration
                    p
                        | In consideration for the rights granted to you under these Terms, you grant us the right (a) to allow the LokalPlug Service to use the processor, bandwidth and storage hardware on your Device in order to facilitate the operation of the Service, (b) to provide advertising and other information to you, if you subscribe to the Free Service, and (c) to allow our business partners to do the same.
                    p
                        | You grant LokalPlug a non-exclusive, transferable, sub-licensable, royalty-free, perpetual, worldwide licence to use, reproduce, make available to the public, publish, translate and distribute any User Content that you post on or otherwise provide through the LokalPlug Service.
                    p
                        | These Terms are not intended to grant rights to anyone except you and LokalPlug, and in no event shall these Terms create any third party beneficiary rights. Any failure by LokalPlug to enforce these Terms or any provision thereof shall not waive LokalPlug’s right to do so.
                    h3 User Guidelines
                    p
                        | LokalPlug respects intellectual property rights and expects you to do the same. This means, for example, that the following is not permitted: (a) Copying, reproducing, “ripping”, recording, or making available to the public any part of the LokalPlug Services or content delivered to you via the LokalPlug Services, or otherwise any making use of the LokalPlug Service which is not expressly permitted by LokalPlug or under these Terms; (b) using the LokalPlug service to import or copy any local files you do not have the legal right to import or copy in this way; (c) reverse-engineering, decompiling, disassembling, modification or creating derivative works based on the LokalPlug Services or any part thereof; (d) circumventing any technology used by LokalPlug, its licensors, or any third party to protect content accessible through the Service; (e) renting or leasing of any part of the Services; (f) circumventing of any territorial restrictions applied by LokalPlug; (g) artificially increasing play count or otherwise manipulating the Services by using a script or other automated process; (h) removing or altering any copyright, trademark or other intellectual property notices contained on or provided through the LokalPlug Service; (i) providing your password to any other person or using any other person’s user name and password.
                    p
                        | LokalPlug does not permit 3rd party client access to our services unless explicitly authorized by us.  We do not provide a public API and any attempt to reverse-engineer or access our services without using our official website or applications is a violation of this agreement.  This is necessary to protect the rights and interests of the intellectual property holders of the content on our service, as well as our own.
                    p
                        | Please respect LokalPlug and other users of the LokalPlug Service. Don’t engage in any activity on the Service or upload User Content, including registering and/or using a username, which is or includes material that (a) is offensive, abusive, defamatory, pornographic or obscene; (b) is illegal, or intended to promote or commit an illegal act of any kind, including but not limited to, violations of intellectual property rights, privacy rights or proprietary rights of LokalPlug or a third party; (c) includes personal data of third parties or is intended to solicit such personal data, (d) includes malicious content such as malware, trojan horses or viruses, or otherwise interferes with any user’s access to the Service; (e) is intended or does harass or bully other users; (f) impersonates or misrepresents your affiliation with another user, person or entity, or is otherwise fraudulent, false, deceptive, or misleading; (g) uses automated means to artificially promote content; (h) involves the transmission of unsolicited mass mailing (“spam”), junk mail, chain letter, or similar, including through the LokalPlug inbox; (i) involves commercial or sales activities, such as advertising, contests, sweepstakes, or pyramid schemes; (j) promotes commercial products or services (except as permitted under Section 11); (k) interferes with the LokalPlug Service, tampers with or attempts to probe, scan, or test for vulnerabilities in the Service or LokalPlug’s computer systems or network, or breaches any of LokalPlug’s security or authentication measures, or (l) conflicts with the Agreement, as determined by LokalPlug. You agree that LokalPlug may also reclaim your username for any reason.
                    p
                        | Your password protects your user account, and you are solely responsible for keeping your password confidential and secure. You understand that you are responsible for all use of your username and password on the Service. If your username or password is lost or stolen, or if you believe there has been unauthorized access to your account by third parties, please notify us immediately and change your password as soon as possible.
                    h3 Copyright infringement
                    p
                        | LokalPlug respects the rights of intellectual property owners. For details on LokalPlug’s copyright policy, please visit https://lokalplug.com/copyright-policy.
                    h3 Technology limitations and modifications
                    p
                        | LokalPlug will make reasonable efforts to keep the LokalPlug Service operational. However, certain technical difficulties or maintenance may, from time to time, result in temporary interruptions. LokalPlug reserves the right, periodically and at any time, to modify or discontinue, temporarily or permanently, functions and features of the LokalPlug Service, with or without notice, all without liability to you for any interruption, modification, or discontinuation of the LokalPlug Service or any function or feature thereof. You understand and agree that LokalPlug has no obligation to maintain, support, upgrade, or update the Service, or to provide all or any specific content through the Service.
                    h3 Export control
                    p
                        | LokalPlug’s products may be subject to U.S. export and reexport control laws and regulations, including the Export Administration Regulations (“EAR”) maintained by the U.S. Department of Commerce, trade and economic sanctions maintained by the Treasury Department’s Office of Foreign Assets Control (“OFAC”), and the International Traffic in Arms Regulations (“ITAR”) maintained by the Department of State. You warrant that you are (1) not located in Cuba, Iran, North Korea, Sudan, or Syria, and (2) are not a denied party as specified in the regulations listed above.
                    p
                        | You agree to comply with all applicable export and reexport control laws and regulations, including the EAR, trade and economic sanctions maintained by OFAC, and the ITAR. Specifically, you agree that you shall not – directly or indirectly – sell, export, reexport, transfer, divert, or otherwise dispose of any products, software, or technology (including products derived from or based on such technology) received from LokalPlug under these Agreements to any destination, entity, or person prohibited by the laws or regulations of the United States, without obtaining prior authorization from the competent government authorities as required by those laws and regulations. This export control clause shall survive termination or cancellation of these Agreements.
                    h3 Automated Data Collection
                    p
                        | You will not collect users' content or information, or otherwise access LokalPlug, using automated means (such as harvesting bots, robots, spiders, or scrapers) without our prior permission.
                    h3 Term and termination
                    p
                        | These Terms will continue to apply to you until terminated by either you or LokalPlug. LokalPlug may terminate the Terms or suspend your access to the LokalPlug Service at any time, including in the event of your actual or suspected unauthorised use of the LokalPlug Service or non-compliance with the Terms. If you or LokalPlug terminate the Terms, or if LokalPlug suspends your access to the LokalPlug Service, you agree that LokalPlug shall have no liability or responsibility to you and LokalPlug will not refund any amounts that you have already paid, to the fullest extent permitted under applicable law. To learn how to terminate your LokalPlug account, please contact us through the Customer Service contact form.
                    h3 Warranty
                    p
                        | We endeavor to provide the best service we can, but you understand and agree that THE LokalPlug SERVICE IS PROVIDED “AS IS”, WITHOUT EXPRESS OR IMPLIED WARRANTY OR CONDITION OF ANY KIND. YOU USE THE LokalPlug SERVICE AT YOUR OWN RISK. LokalPlug DISCLAIMS ANY WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT.
                    p
                        | In addition, LokalPlug does not warrant, endorse, guarantee or assume responsibility for any Third Party Applications, Third Party Application content, User Content, or any other product or service advertised or offered by a third party on or through the LokalPlug Service or any hyperlinked website, or featured in any banner or other advertising. You understand and agree that LokalPlug is not responsible or liable for any transaction between you and third-party providers of Third Party Applications or products or services advertised on or through the LokalPlug Service. As with any purchase of a product or service through any medium or in any environment, you should use your judgment and exercise caution where appropriate. No advice or information whether oral or in writing obtained by you from LokalPlug shall create any warranty on behalf of LokalPlug in this regard. Some aspects of this section may not apply in some jurisdictions.
                    h3 Limitation of Liability
                    p
                        | You agree that, to the extent permitted by applicable law, your sole and exclusive remedy for any problems or dissatisfaction with the LokalPlug Service, the Third Party Applications or the Third Party Application content is to uninstall any LokalPlug software and to stop using the LokalPlug Service, the Third Party Applications or the Third Party Application content.
                    p
                        | TO THE FULLEST EXTENT PERMITTED BY LAW, IN NO EVENT WILL LokalPlug, ITS OFFICERS, SHAREHOLDERS, EMPLOYEES, AGENTS, DIRECTORS, SUBSIDIARIES, AFFILIATES, SUCCESSORS, ASSIGNS, SUPPLIERS OR LICENSORS BE LIABLE FOR (i) ANY INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, EXEMPLARY OR CONSEQUENTIAL (INCLUDING LOSS OF USE, DATA, BUSINESS, OR PROFITS) DAMAGES, ARISING OUT OF THE USE OR INABILITY TO USE THE LokalPlug SERVICE, THIRD PARTY APPLICATIONS OR THIRD PARTY APPLICATION CONTENT, REGARDLESS OF LEGAL THEORY, WITHOUT REGARD TO WHETHER LokalPlug HAS BEEN WARNED OF THE POSSIBILITY OF THOSE DAMAGES, AND EVEN IF A REMEDY FAILS OF ITS ESSENTIAL PURPOSE; (ii) AGGREGATE LIABILITY FOR ALL CLAIMS RELATING TO THE LokalPlug SERVICE, THIRD PARTY APPLICATIONS OR THIRD PARTY APPLICATION CONTENT MORE THAN THE AMOUNTS PAID BY YOU TO LokalPlug DURING THE PRIOR THREE MONTHS IN QUESTION.
                    p
                        | Nothing in these Agreements removes or limits LokalPlug’s liability for fraud, fraudulent misrepresentation, death or personal injury caused by its negligence. Some aspects of this section may not apply in some jurisdictions.
                    h3 Entire agreement
                    p
                        | These Agreements constitute all the terms and conditions agreed upon between you and LokalPlug and supersede any prior agreements in relation to the subject matter of these Agreements, whether written or oral. Any additional or different terms or conditions in relation to the subject matter of the Agreements in any written or oral communication from you to LokalPlug are void. You represent that you have not accepted the Agreements in reliance on any oral or written representations made by LokalPlug that are not contained in the Agreements.
                    p
                        | Please note, however, that other aspects of your use of the LokalPlug Service may be governed by additional agreements.  Those terms and conditions shall govern only with regard to the aspect of the Service to which they apply, and are distinct from and supplemental to these Agreements, and do not supersede these Agreements. To the extent that there is any conflict between those agreements and these Agreements, these Agreements shall control, except as otherwise provided in these Terms.
