block content
    .container-fluid.main-container
        .col-lg-8.col-lg-offset-2.content
            .col-xs-12
                .content-container
                    .row.text-center
                        h1 404
