
.table_populator_loading {
    background-image: url(../../images/table-populator/loading_1.gif);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin-top: 60px;
    margin-left:50%;
}

.table_populator_sortable {
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
    background-image: url(../../images/table-populator/bg.gif);
}

.table_populator_sortable.sort_up {
    background-image: url(../../images/table-populator/desc.gif);

}

.table_populator_sortable.sort_down {
    background-image: url(../../images/table-populator/asc.gif);

}

.global_status_container span {
    margin: 3px;
}

.table_populator_loading_wrapper {
    display: none;
    /*left: 50%;*/
    position:absolute;
    padding-top: 60px;
    z-index: 999;
}
/*table {*/
    /*background: url(../../images/table-populator/loading_1.gif) 50% 50% no-repeat;*/

/*}*/

